<header class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">SuperMegaShop</a>
		</div>
		<ul class="nav navbar-nav navbar-left">
			<li id="index-link">
				<a href="/">Список товаров</a>
			</li>
			<li id="checkout-link">
				<a href="/checkout">Корзина (<span id="checkout-quantity">0</span>)</a>
			</li>
		</ul>
	</div>
</header>

<section class="container"></section>

<footer class="footer">
	<div class="container">
		<p class="text-muted text-center">2015</p>
	</div>
</footer>